.dropdownContainer {
  width: 100%;
  position: relative;

  .select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 0px 12px;
    z-index: 1110;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #d9dee7;
    background: #fff;
    overflow: hidden;
    color: #1a1a1e;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  .optionsContainer {
    list-style: none;
    width: 100%;
    height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 65px;
    border: none;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.12);
    animation: dropdownAnimation 500ms ease-in-out;

    .option {
      padding:  16px;
      box-sizing: border-box;
      background-color: white;
      cursor: pointer;
      color: var(--Colour-Neutral-1, #181b20);
      font-family: Lexend;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0.32px;
    }

    @keyframes dropdownAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
