.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .modal {
    width: 740px;
    height: 700px;
    overflow: scroll;
    padding: 32px 48px 48px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 64px;

      h2 {
        color: var(--Neutral-4, #282828);
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 45.7px;
        margin: 0;
      }

      .closeButton {
        cursor: pointer;
      }
    }

    .modalBody {
      .languageTabContainer {
        display: flex;
        gap: 8px;
        align-items: center;
        margin: 20px 0;

        button {
          border-radius: 8px;
          background: var(--Colour-Primary-6, #f2fafc);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
          color: var(--Colour-Primary-1, #0c4e64);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          padding: 12px 10px;
          margin: 0;
          border: none;
        }
      }

      .label {
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
      }

      .input {
        width: 100%;
        height: 64px;
        box-sizing: border-box;
        border-radius: 10.667px;
        border: 2px solid #d9dee7;
        background: #fff;
        padding: 0px 12px;
        overflow: hidden;
        color: #1a1a1e;
        text-align: center;
        text-overflow: ellipsis;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 0;
      }

      .checkboxContainer {
        display: flex;
        align-items: center;
        gap: 24px;
        margin: 64px 0 24px;

        .checkbox {
          width: 24px;
          height: 24px;
          border-radius: 6px;
          border: 1.5px solid #64646a;
          background: rgba(255, 255, 255, 0);
        }

        .checkboxLabel {
          color: var(--Colour-Neutral-2, #434956);
          font-family: Lexend;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }

      .createMemberBtn {
        border-radius: 8px;
        background: var(--Colour-Primary-2, #096f90);
        width: 357px;
        height: var(--size-ag-row-height, 64px);
        padding: 12px 24px;

        p {
          color: var(--Colour-Primary-6, #f2fafc);
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}
