@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* default checkbox style */
-moz-appearance:none;
-webkit-appearance:none;
-o-appearance:none;

/* Remove arrow from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* React Select */
.css-13cymwt-control {
  border: 2px solid rgba(217, 222, 231, 1);
  border-radius: 10.67px !important;
  padding: 6px 8px;
}
.css-t3ipsp-control {
  min-height: 48px !important;
  border-radius: 10.67px !important;
  padding: 6px 8px;
  box-shadow: 0 0 0 2px #2684ff !important;
}
.css-16xfy0z-control {
  min-height: 48px !important;
  border-radius: 10.67px !important;
}
.css-1fdsijx-ValueContainer{
  padding: 2px 0px !important;
}

/* AG GRID */
.ag-header-cell-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
  color: rgba(9, 111, 144, 1);
}