.headerContainer {
  display: flex;
  justify-content: space-between;
  background: var(--Colour-Primary-5, #e1f7fe);
  padding: 8px 80px;
  border: none;
  z-index: 9990;

  .headerLinkContainer {
    .headerLink {
      color: var(--Nabo-Neutral-Ten, #120f1c);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.2px;
      text-decoration: none;
    }
  }

  .headerLoginBtn {
    border-radius: 6.4px;
    border: 2px solid var(--Colour-Primary-2, #096f90);
    width: 141px;
    box-sizing: border-box;
    padding: 8px 20px;
    color: var(--Colour-Primary-2, #096f90);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background: transparent;
  }

  .headerLoginBtn:hover {
    border: 2px solid var(--Colour-Primary-1, #0c4e64);
    background: transparent;
    color: var(--Colour-Primary-1, #0c4e64);
  }
}
