.hospitalFormContainer {
  padding: 80px;

  .title {
    margin: 62px 0 72px;
    color: var(--Colour-Primary-1, #0c4e64);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }

  .hospitalProfileForm {
    .label {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      display: block;
    }

    .input {
      width: 100%;
      height: 64px;
      border-radius: 10.667px;
      border: 2px solid #d9dee7;
      background: #fff;
      padding: 0px 12px;
      box-sizing: border-box;
      overflow: hidden;
      color: var(--Colour-Neutral-3, #757f95);
      text-overflow: ellipsis;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }

    .langTabContainer {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 23px 0 20px;

      button {
        border-radius: 8px;
        background: var(--Colour-Neutral-7, #f9fafb);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        padding: 12px 10px;
        color: var(--Colour-Primary-1, #0c4e64);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border: none;
        outline: none;
        box-sizing: border-box;
      }
    }

    .textarea {
      border-radius: 10.667px;
      border: 2px solid #d9dee7;
      background: #fff;
      width: 100%;
      height: 147px;
      padding: 12px;
      overflow: hidden;
      color: var(--Colour-Neutral-3, #757f95);
      text-overflow: ellipsis;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      box-sizing: border-box;
    }

    .subTitleAddress {
      color: #4d4d4d;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: 0.48px;
      margin: 48px 0 32px;
    }

    .cityCountryInputWrapper {
      display: flex;
      align-items: center;
      gap: 29px;
      margin-bottom: 32px;

      .cityInputWrapper {
        width: 50%;
      }

      .countryInputWrapper {
        width: 50%;
      }
    }

    .subTitleHospitalGallery {
      color: #000;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 12px;
    }

    .hospitalGalleryDesc {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-bottom: 32px;
    }

    .footerBtnContainer {
      margin-top: 64px;
      display: flex;
      align-items: center;
      gap: 24px;

      .cancelBtn {
        border-radius: 6.4px;
        border: 2px solid var(--Colour-Primary-2, #096f90);
        width: 262px;
        height: 64px;
        padding: 12px 24px;
        color: var(--Colour-Primary-2, #096f90);
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        box-sizing: border-box;
        cursor: pointer;
      }

      .publishBtn {
        border-radius: 6.4px;
        background: #096f90;
        width: 262px;
        height: 64px;
        padding: 12px 24px;
        color: var(--Colour-Neutral-7, #f9fafb);
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        box-sizing: border-box;
      }
    }
  }
}
