.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .modal {
    width: 740px;
    padding: 32px 48px 48px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 64px;

      h2 {
        color: var(--Neutral-4, #282828);
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 45.7px;
        margin: 0;
      }

      .closeButton {
        cursor: pointer;
      }
    }

    .modalBody {
      .departmentInputLabel {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
      }

      .languageTabContainer {
        display: flex;
        gap: 8px;
        align-items: center;
        margin: 20px 0;

        button {
          border-radius: 8px;
          background: var(--Colour-Primary-6, #f2fafc);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
          color: var(--Colour-Primary-1, #0c4e64);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          padding: 12px 10px;
          margin: 0;
          border: none;
        }

        .activeLanguageTab {
          border-radius: 8px;
          background: var(--Colour-Neutral-7, #f7f9fa);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
          border: 1.4px solid var(--Colour-Primary-2, #096f90);
          color: var(--Colour-Primary-2, #096f90);
        }
      }

      .departmentInput {
        border-radius: 10.667px;
        border: 2px solid #d9dee7;
        background: #fff;
        padding: 0px 12px;
        height: 38px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        color: #1a1a1e;
        text-overflow: ellipsis;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        outline: none;
        margin-bottom: 64px;
      }

      .departmentCheckboxContainer {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;

        .checkbox {
          border-radius: 6px;
          border: 1.5px solid #64646a;
          background: rgba(255, 255, 255, 0);
          margin: 0;
        }

        .checkboxLabel {
          color: var(--Colour-Neutral-2, #434956);
          font-family: Lexend;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }

      .createDepartmentBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 262px;
        height: 64px;
        border-radius: 8px;
        background: var(--Colour-Primary-2, #096f90);

        .btnText {
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin: 0;
          color: var(--Colour-Primary-6, #f2fafc);
        }
      }
    }
  }
}

.checkboxStyle {
  // width: 20px;
  // height: 20px;
  // border-radius: 6px;
  // outline: 1.5px solid rgba(100, 100, 106, 1);
  appearance: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  outline: 1.5px solid rgba(100, 100, 106, 1);
  margin-right: 12px;
}

.checkboxLabel {
  font-family: Lexend;
  font-size: 16px;
  font-weight: 500;
  color: rgba(117, 127, 149, 1);
  display: block;
  position: relative;
  margin-left: 30px;
}

.checkboxLabel input:checked ~ .checkmark {
  background-color: rgba(9, 111, 144, 1);
}

.checkboxLabel .checkmark:after {
  width: 1px;
  height: 1px;
  left: 4px;
  color: white;
  top: -3px;
}


.checkboxLabel input:checked ~ .checkmark:after {
  display: block;
 } 
 
 //To hide the checkmark when not checked//
 
 .checkmark:after {
  content:'✔';
  position: absolute;
  display: none;
  color: #fff;
 } 